@using backend.Helpers.Messages

@{
    ViewBag.Title = @Localizer[ContactViewStringsForResources.Contact_Title];
}
<main aria-labelledby="title">
    <h2 id="title">@Localizer[ContactViewStringsForResources.Contact_Title]</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>@Localizer[ContactViewStringsForResources.Contact_Suport]</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>@Localizer[ContactViewStringsForResources.Contact_Marketing]</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</main>